<div class="container-main">
    <p-panel header="Prijava korisnika" class="container">
    <div>
        <table>
            <tr>
                <td>Korisnicko ime:</td>
                <td>
                    <input type="text" pInputText [(ngModel)]="korisnik.korisnicko_ime"
                    style="width: 100%;">
                </td>
            </tr>
            <tr>
                <td>Lozinka:</td>
                <td>
                    <p-password [(ngModel)]="korisnik.lozinka" [toggleMask]="true"
                    [style]="{'width': '100%'}" />
                   <!-- <input type="password" pInputText  [(ngModel)]="korisnik.lozinka"> -->
                </td>
            </tr>
            <tr>
                <td>
                    <p-button (click)="prijava()">Prijava</p-button>
                </td>
            </tr>
        </table>
    </div>
</p-panel>
</div>

