<div class="container-main">

<p-panel header="Gosti" class="container2">
    <form (ngSubmit)="potvrdiAzuriranjeGosta(azurirajGostaForma)" #azurirajGostaForma="ngForm" novalidate>
        <p-table [value]="gosti">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        Korisnicko ime
                    </th>
                    <th>
                        Ime
                    </th>
                    <th>
                        Prezime
                    </th>
                    <th>
                        Adresa
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
    
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-gosti>
                <tr>
                    <td>
                        {{gosti.korisnicko_ime}}
                    </td>
                    <td>
                        <span *ngIf="gost_uzlov != gosti.id">
                            {{gosti.ime}}
                        </span>
                        <span *ngIf="gost_uzlov == gosti.id">
                            <input type="text" pInputText placeholder="gosti.ime" [(ngModel)]="gost_azuriran.ime" #ime="ngModel"
                            name="ime"
                            pattern="^[A-Za-z]+$">
                            <div *ngIf="ime.invalid && (ime.dirty || ime.touched)">
                                <span *ngIf="ime.errors?.['pattern']" style="color: red;"> Ime nije u odgovarajucem formatu</span>
                            </div>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="gost_uzlov != gosti.id">
                            {{gosti.prezime}}
                        </span>
                        <span *ngIf="gost_uzlov == gosti.id">
                            <input type="text" pInputText placeholder="gosti.prezime" [(ngModel)]="gost_azuriran.prezime" #prezime="ngModel"
                            name="prezime"
                            pattern="^[A-Za-z]+$">
                            <div *ngIf="prezime.invalid && (prezime.dirty || prezime.touched)">
                                <span *ngIf="prezime.errors?.['pattern']" style="color: red;"> Ime nije u odgovarajucem formatu</span>
                            </div>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="gost_uzlov != gosti.id">
                            {{gosti.adresa}}
                        </span>
                        <span *ngIf="gost_uzlov == gosti.id">
                            <input type="text" pInputText placeholder="gosti.adresa" [(ngModel)]="gost_azuriran.adresa" #adresa="ngModel"
                            name="adresa">
                        </span>
                    </td>
                    <td>
                        <span *ngIf="gost_uzlov != gosti.id">
                            <span *ngIf="gosti.status == 'O'" style="color: green;"> Odobren</span>
                            <span *ngIf="gosti.status == 'D'" style="color: red;"> Deaktiviran</span>
                        </span>
                        <div *ngIf="gost_uzlov == gosti.id">
                            <p-dropdown 
                            name="status"
                            [options]="opcije" 
                            [(ngModel)]="gost_azuriran.status" 
                            optionLabel="name"
                            optionValue="code"
                            placeholder="Status"
                            appendTo="body" />
                        </div>
                    </td>
                    <td>
                        <div *ngIf="gost_uzlov != gosti.id">
                            <p-button (click)="azurirajGosta(gosti)">Azuriraj</p-button>
                        </div>
                        <div *ngIf="gost_uzlov == gosti.id">
                            <p-button type="submit" [style]="{'margin': '2px'}">Potvrdi</p-button>
                            <p-button (click)="otkaziAzuriranjeGosta()" [style]="{'margin': '2px'}">Otkazi</p-button>
                        </div>
                    </td>  
                </tr>
            </ng-template>
        </p-table>
    </form>
</p-panel>
</div>

