<div class="container-main">

<p-panel header="Statistika 1" class="container2">
    <div class="card">
        <p-chart type="bar" [data]="data1" [options]="options1" />
    </div>
</p-panel>

<p-panel header="Statistika 2" class="container2">
    <div class="card flex justify-content-center">  
        <p-chart type="pie" [data]="data2" [options]="options2" />
    </div>
</p-panel>

<p-panel header="Statistika 3" class="container2">
    <div class="card">
        <p-chart type="bar" [data]="data3" [options]="options3" />
    </div>
</p-panel>

</div>




