<div class="container-main"> 

<p-panel header="Profil" class="container">
    <div>
        <table>
            <tr>
                <td style="width:50%">
                    <img [src]="putanja_slike" width="200" height="200">
                </td>
        
                <td style="width:50%">
                    <table>
                        <tr>
                            <td>Ime:</td>
                            <td>{{admin.ime}}</td>
                        </tr>
                        <tr>
                            <td>Prezime:</td>
                            <td>{{admin.prezime}}</td>
                        </tr>
                        <tr>
                            <td>Adresa:</td>
                            <td>{{admin.adresa}}</td>
                        </tr>
                        <tr>
                            <td>Mejl:</td>
                            <td>{{admin.mejl}}</td>
                        </tr>
                        <tr>
                            <td>Telefon:</td>
                            <td>{{admin.telefon}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</p-panel>

</div>
    
           