<div class="container-main">

<p-panel header="Restorani" class="container2">
    <p-table [value]="restorani">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    Naziv
                </th>
                <th>
                    Adresa
                </th>
                <th>
                    Tip
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Telefon
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-restorani>
            <tr>
                <td>
                    {{ restorani.naziv }}
                </td>
                <td>
                    {{ restorani.adresa }}
                </td>
                <td>
                    {{ restorani.tip }}
                </td>
                <td>
                    {{ restorani.opis}}
                </td>
                <td>
                    {{ restorani.telefon}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<p-panel header="Radno vreme restorana:" class="container">
    <table>
        <tr>
            <td>Izaberi restoran:</td>
            <td>
                <p-dropdown 
                    [style]="{'width': '100%'}"
                    [options]="restorani" 
                    [(ngModel)]="idr"
                    optionLabel="naziv" 
                    optionValue="id"
                    placeholder="Restorani"
                    appendTo="body"/>
            </td>
        </tr>
        <tr>
            <td>Izaberi dan:</td>
            <td>
                <p-dropdown 
                    [style]="{'width': '100%'}"
                    [options]="opcije" 
                    [(ngModel)]="dan_u_nedelji" 
                    optionLabel="name"
                    optionValue="code"
                    placeholder="Dani"
                    appendTo="body"/>
            </td>
        </tr>
        <tr> 
            <td>
            </td>
            <td>
                <p-button (click)="izaberi()">Izaberi</p-button>
            </td>
        </tr>
        <tr *ngIf="uslov == true">
            <td>
                Pocetak:
            </td>
            <td *ngIf="dvaDatuma.pocetak == dvaDatuma.kraj">
                neradni dan
            </td>
            <td *ngIf="dvaDatuma.pocetak != dvaDatuma.kraj">
                {{dvaDatuma.pocetak|date: 'HH:mm'}}
            </td>
         </tr>
        <tr *ngIf="uslov == true">
            <td>
                Kraj:
            </td>
            <td *ngIf="dvaDatuma.pocetak == dvaDatuma.kraj">
                neradni dan
            </td>
            <td *ngIf="dvaDatuma.pocetak != dvaDatuma.kraj">
                {{dvaDatuma.kraj|date: 'HH:mm'}}
            </td>
        </tr>
        <tr *ngIf="uslov == true">
            <td>
                Novi pocetak sati:
            </td>
            <td>
                <p-inputNumber 
                    [style]="{'width': '100%'}"
                    [(ngModel)]="pocetakSati"  
                    [showButtons]="true" 
                    inputId="minmax-buttons" 
                    [min]="0" 
                    [max]="23" /> 
            </td>
        </tr>
        <tr *ngIf="uslov == true">
            <td>
                Novi pocetak minuti:
            </td>
            <td>
                <p-inputNumber 
                    [style]="{'width': '100%'}"
                    [(ngModel)]="pocetakMinuti"  
                    [showButtons]="true" 
                    inputId="minmax-buttons" 
                    [min]="0" 
                    [max]="59" /> 
            </td>
        </tr>
        <tr *ngIf="uslov == true">
            <td>
                Novi kraj sati:
            </td>
            <td>
                <p-inputNumber
                    [style]="{'width': '100%'}" 
                    [(ngModel)]="krajSati"  
                    [showButtons]="true" 
                    inputId="minmax-buttons" 
                    [min]="0" 
                    [max]="23" /> 
            </td>
        </tr>
        <tr *ngIf="uslov == true">   
            <td>
                Novi kraj minuti:
            </td>
            <td>
                <p-inputNumber 
                    [style]="{'width': '100%'}"
                    [(ngModel)]="krajMinuti"  
                    [showButtons]="true" 
                    inputId="minmax-buttons" 
                    [min]="0" 
                    [max]="59" /> 
            </td>
        </tr>
        <tr *ngIf="uslov == true">
            <td>
            </td>
            <td>
                <p-button (click)="potvrdi()"> Potvrdi</p-button>
            </td>
        </tr>
    </table>
</p-panel>

</div>


