<div class="container-main">

<p-panel header="Konobari" class="container2">
    <form (ngSubmit)="potvrdiAzuriranjeKonobara(konobarForma)" #konobarForma="ngForm" novalidate>
        <p-table [value]="konobari">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        Korisnicko ime
                    </th>
                    <th>
                        Ime
                    </th>
                    <th>
                        Prezime
                    </th>
                    <th>
                        Adresa
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Restoran
                    </th>
                    <th>

                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-konobari>
                <tr>
                    <td>
                        {{konobari.konobar.korisnicko_ime}}
                    </td>
                    <td>
                        <span *ngIf="konobar_uzlov != konobari.konobar.id">
                            {{konobari.konobar.ime}}
                        </span>
                        <span *ngIf="konobar_uzlov == konobari.konobar.id">
                            <input type="text" pInputText placeholder="konobari.konobar.ime" [(ngModel)]="konobar_azuriran.konobar.ime" #ime="ngModel"
                            name="ime"
                            pattern="^[A-Za-z]+$">
                            <div *ngIf="ime.invalid && (ime.dirty || ime.touched)">
                                <span *ngIf="ime.errors?.['pattern']" style="color: red;"> Ime nije u odgovarajucem formatu</span>
                            </div>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="konobar_uzlov != konobari.konobar.id">
                            {{konobari.konobar.prezime}}
                        </span>
                        <span *ngIf="konobar_uzlov == konobari.konobar.id">
                            <input type="text" pInputText placeholder="konobari.konobar.prezime" [(ngModel)]="konobar_azuriran.konobar.prezime" #prezime="ngModel"
                            name="prezime"
                            pattern="^[A-Za-z]+$">
                            <div *ngIf="prezime.invalid && (prezime.dirty || prezime.touched)">
                                <span *ngIf="prezime.errors?.['pattern']" style="color: red;"> Ime nije u odgovarajucem formatu</span>
                            </div>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="konobar_uzlov != konobari.konobar.id">
                            {{konobari.konobar.adresa}}
                        </span>
                        <span *ngIf="konobar_uzlov == konobari.konobar.id">
                            <input type="text" pInputText placeholder="konobari.konobar.adresa" [(ngModel)]="konobar_azuriran.konobar.adresa" #adresa="ngModel"
                            name="adresa">
                        </span>
                    </td>
                    <td>
                        <span *ngIf="konobar_uzlov != konobari.konobar.id">
                            <span *ngIf="konobari.konobar.status == 'O'" style="color: green;"> Odobren</span>
                            <span *ngIf="konobari.konobar.status == 'D'" style="color: red;"> Deaktiviran</span>
                        </span>
                        <div *ngIf="konobar_uzlov == konobari.konobar.id">
                            <p-dropdown 
                            name="status"
                            [options]="opcije" 
                            [(ngModel)]="konobar_azuriran.konobar.status" 
                            optionLabel="name"
                            optionValue="code"
                            placeholder="Status"
                            appendTo="body" />
                        </div>
                    </td>
                    <td>
                        <span *ngIf="konobar_uzlov != konobari.konobar.id">
                            {{konobari.restoran.naziv}}
                        </span>
                        <span *ngIf="konobar_uzlov == konobari.konobar.id">
                            <p-dropdown 
                                name="restoran"
                                [options]="restorani" 
                                [(ngModel)]="konobar_azuriran.restoran" 
                                optionLabel="naziv"
                                placeholder="Restorani"
                                appendTo="body" />
                        </span>
                    </td>
                    <td>
                        <div *ngIf="konobar_uzlov != konobari.konobar.id">
                            <p-button (click)="azurirajKonobara(konobari.konobar, konobari.restoran)">Azuriraj</p-button>
                        </div>
                        <div *ngIf="konobar_uzlov == konobari.konobar.id" >
                                <p-button type="submit" [style]="{'margin': '2px'}">Potvrdi</p-button>
                                <p-button (click)="otkaziAzuriranjeKonobara()" [style]="{'margin': '2px'}">Otkazi</p-button>
                        </div>
                    </td>  
                </tr>
            </ng-template>
        </p-table>
    </form>
</p-panel>
</div>

